
# Finance Packages
# binance
# ta
# backtrader

# Base packages
numpy
pandas
matplotlib
seaborn
plotly

# modelling
# darts

# deployment
streamlit

# dev packages
# pytest
# pylint
# ipdb
# jupyterlab
# notebook
